<section class="card">
  <!--   A tags will take you to the report:id     -->
  <a href="/reports/{{id}}">
    <h2> {{Title}}</h2>
    <h3>By {{author}}</h3>
    <p>Score: {{score}}</p>
  </a>
</section>