<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page One Library - Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/css/login.css"/>
  </head>
  <body>
      <nav>
        <h1>
          <a href="/">Page One Library</a>
        </h1>
        {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Log Out</button>
        {{else}}
          <button><a href="/login">Log In</a></button>
        {{/if}}
      </nav>
      <main>
        {{{body}}}
      </main>
  <footer>
    <h3>
      Copyright by Page One Library
    </h3>
  </footer>
  </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}</body>
</html>