<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page One Library - Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet"  href="/Project-2/public/css/login.css"/>
  </head>
  <body>
      <nav>
        <h1>
          <a href="/">Page One Library</a>
        </h1>
            <div class="flex-btn">
        {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Log Out</button>
        {{else}}
          <a href="/login">
            <button>
              Log In 
            </button>
          </a>
        {{/if}}
          <a href="/new"><button>Create a New Report</button></a>
</div>
      </nav>
      <main>
        {{{body}}}
      </main>
  <footer>
    <h3>
      Copyright by Page One Library
    </h3>
  </footer>
  </div>
    {{#if loggedIn}}
      <script src="../../js/logout.js"></script>
    {{else}}
        <script src="../../js/login.js"></script>
    {{/if}}
    </body>
</html>