<div class="container">
      <section>
        <div class="card-content">
          <h1>{{report.title}}</h1>
          <h2>By: {{report.report_author}} </h2>
          <p>Book Score: {{report.report_score}} </p>
          <div class="divider"> </div>
          <p>{{report.report_content}}</p>
        </div>
      </section>
    {{#each report.comments as |comment|}}
      <li>
        {{> comment-details }}
      </li>
      {{/each}}
     <div class="add-comment">
        <form>
          <input type="text" id="book-comment" placeholder="Whats on your mind?" />
        </form>
        <div>
          <button type="submit" id="comment-btn">Submit</button>
        </div>
      </div>
      <script src="../public/js/comment.js"></script>
</div>