  <div class="report-container">
    
    <div class="login-form">
      <h2>Create a New Book Report</h2>
       <div class="organize">
        <div>
          icon
        </div>
        <input type="text" id="book-title" placeholder="Title"/>
      </div>
      <div class="organize">
        <div>
          icon
        </div>
        <input type="text" id="author" placeholder="Author"/>
      </div>
      <div>
            <label for="score">What would you rate the book out of 5?</label for="score"> 
            <br> 
            <input type="radio" class="radiobtn" name="score" value="5" id="5"><label for="5">☆</label>
            <input type="radio" class="radiobtn" name="score" value="4" id="4"><label for="4">☆</label>
            <input type="radio" class="radiobtn" name="score" value="3" id="3"><label for="3">☆</label>
            <input type="radio" class="radiobtn" name="score" value="2" id="2"><label for="2">☆</label>
            <input type="radio" class="radiobtn" name="score" value="1" id="1"><label for="1">☆</label>  
      </div>
      <div>
          <label for="report-content">What are your thoughts on this book?</label>
          <br>
          <textarea name="report-content-area" id="report-content" cols="30" rows="6">Type your thoughts here</textarea>
      </div>
      <div>
        <button id="submit-report-btn">Submit</button>
      </div>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js">
</script>
<script src="../public/sfx/howler.js/"></script>
<script src="../js/new.js"></script>

</div>
