
<div class="report-background">
    <div class="login-container">
     <div class = "login-form-style">
    <form class="login-form">
      <h2>Create a New Book Report</h2>
       <div class="organize">
        <div>
          icon
        </div>
        <input type="text" id="book-title" placeholder="Title"/>
      </div>
      <div class="organize">
        <div>
          icon
        </div>
        <input type="text" id="author" placeholder="Author"/>
      </div>

      <div class="star-rating">
            <input type="radio" name="score" id="star-a" value="5"/>
            <label for="star-a"></label>

            <input type="radio" name="score" id="star-b" value="4"/>
            <label for="star-b"></label>
        
            <input type="radio" name="score" id="star-c" value="3"/>
            <label for="star-c"></label>
        
            <input type="radio" name="score" id="star-d" value="2"/>
            <label for="star-d"></label>
        
            <input type="radio" name="score" id="star-e" value="1"/>
            <label for="star-e"></label>
      </div>
     
      <div>
          <label for="report-content">What are your thoughts on this book?</label>
          <br>
          <textarea name="report-content-area" id="report-content" cols="30" rows="6">Type your thoughts here</textarea>
      </div>
      <div>
        <button id="submit-report-btn">Submit</button>
      </div>
    </div>
  </div>
<script src="../js/new.js"></script>
</div>
