<<<<<<< HEAD

<ul class="post-list">
  {{#each reports as |report|}}
  <li>
    {{> bookreport }}
  </li>
  {{/each}}
</ul>


=======
{{#each reports as |report|}}
    {{> bookreport}}
{{/each}}
>>>>>>> ea1cf67 (Updated handlebars)
