<<<<<<< HEAD
<<<<<<< HEAD

<ul class="post-list">
  {{#each reports as |report|}}
  <li>
    {{> bookreport }}
  </li>
  {{/each}}
</ul>


=======
{{#each reports as |report|}}
    {{> bookreport}}
{{/each}}
>>>>>>> ea1cf67 (Updated handlebars)
=======
    <div class="hero-img">
      <div class="hero-container">
        <h1>Weclome to Page One Library</h1>
        <h2>Take a look around</h2>
      </div>
    </div>
    <div class="display-cards">
      {{#each reports as |report|}}
      <li>
        {{> book-details }}
      </li>
      {{/each}}
    </div>

>>>>>>> b8cd4c3 (Updated Handlebars)
