    <div class="hero-img">
      <div class="hero-container">
        <h1>Welcome to Page One Library</h1>
        <h2>Take a look around</h2>
      </div>
    </div>
    <div class="display-cards">
      {{#each reports as |report|}}
        {{> book-details }}
      {{/each}}
    </div>