* {
  box-sizing: border-box;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #9eb7e5;
}

nav {
  background-color: #040303;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10vw;
}
nav h1 {
  color: #fff;
  font-size: 28px;
}

h1 {
  font-size: 38px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 400;
}

h1 a {
  text-decoration: none;
  color: #fff;
}

h1 a:hover {
  text-decoration: none;
  color: #fff;
}

button {
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.25);
  background-color: #fdfdff;
  font-size: 14px;
}

.flex-btn {
  width: 250px;
  display: flex;
  justify-content: space-around;
}

footer {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 2vw;
}

main {
  min-height: 80vh;
}

.login-background {
  background-image: url("https://images.pexels.com/photos/159514/yale-university-landscape-universities-schools-159514.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.report-background {
  background-image: url("https://images.pexels.com/photos/2041540/pexels-photo-2041540.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.login-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  padding: 50px 0;
  margin: 0 auto;
}

.login-form-style {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: rgba(48, 76, 137, 0.8);
  box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.25);
  width: 90%;
  color: #fff;
  text-align: center;
}

.login-form-style h2 {
  padding: 20px 0 0px 0;
}

.login-form-style input {
  width: 60%;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.5);
}

.organize {
  margin: 15px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-cards {
  max-width: 800px;
  padding: 25px 15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}

.card {
  box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 15px;
  width: 200px;
  margin: 10px 5px;
  background-color: #fff;
  overflow-wrap: break-word;
}

.card h4 {
  padding: 10px 0px;
}

.hero-container {
  color: #fff;
  text-align: center;
  padding: 100px;
  line-height: 1.5;
}

.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  height: 400px;
  width: 100%;
}

.star-rating {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 40px auto;
  position: relative;
}

.star-rating input {
  display: none;
}

.star-rating > label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: orange;
}

.star-rating label:hover {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.2s ease;
}
.star-rating label:active::before {
  transform:scale(1.1);
}

.star-rating label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;
}

.star-rating input:checked ~ label:before {
  content:'\2605';
}
